# Python virtual environments
venv/
.venv/
backend/venv/
backend/backend/venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# Node
node_modules/
dist/
build/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db